<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filedir" value="/files"/>
    <add key="cookie" value="SUB=_2AkMXVwL_f8NxqwJRmfAUy2riZI93ywrEieKhC_MkJRMxHRl-yT9jqncdtRB6PNcsEIzqX_GFlZF_N2fxoT40-bNnkTYr; SUBP=0033WrSXqPxfM72-Ws9jqgMF55529P9D9WhiK3dNi6RecOHOAJb6BZZA"/>
  </appSettings>
</configuration>